body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13678 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:63px;
  width:1741px;
  height:127px;
}
#u13679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:41px;
}
#u13679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:41px;
  display:flex;
}
#u13679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u13680 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
}
#u13680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u13681 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:41px;
  display:flex;
}
#u13681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u13682 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:41px;
  display:flex;
}
#u13682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u13683 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:41px;
  display:flex;
}
#u13683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u13684 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
}
#u13684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:41px;
}
#u13685 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:78px;
  height:41px;
  display:flex;
}
#u13685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u13686 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:80px;
  height:41px;
  display:flex;
}
#u13686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u13687 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:0px;
  width:80px;
  height:41px;
  display:flex;
}
#u13687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u13688 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:100px;
  height:41px;
  display:flex;
}
#u13688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u13689 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:80px;
  height:41px;
  display:flex;
}
#u13689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u13690 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
}
#u13690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u13691 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
}
#u13691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u13692 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
}
#u13692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
}
#u13693 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:0px;
  width:83px;
  height:41px;
  display:flex;
}
#u13693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
}
#u13694 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:0px;
  width:83px;
  height:41px;
  display:flex;
}
#u13694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
}
#u13695 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:0px;
  width:83px;
  height:41px;
  display:flex;
}
#u13695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u13696 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
}
#u13696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u13697 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
}
#u13697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u13698 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
}
#u13698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u13699 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:0px;
  width:100px;
  height:41px;
  display:flex;
}
#u13699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:39px;
}
#u13700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:78px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u13701 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:41px;
  width:82px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u13702 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:41px;
  width:80px;
  height:39px;
  display:flex;
}
#u13702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u13703 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:41px;
  width:80px;
  height:39px;
  display:flex;
}
#u13703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u13704 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:41px;
  width:80px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u13705 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:41px;
  width:82px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:39px;
}
#u13706 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:41px;
  width:78px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u13707 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:41px;
  width:80px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u13708 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:41px;
  width:80px;
  height:39px;
  display:flex;
}
#u13708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u13709 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:41px;
  width:100px;
  height:39px;
  display:flex;
}
#u13709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u13710 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:41px;
  width:80px;
  height:39px;
  display:flex;
}
#u13710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u13711 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:41px;
  width:82px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u13712 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:41px;
  width:82px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u13713 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:41px;
  width:82px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u13714 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:41px;
  width:83px;
  height:39px;
  display:flex;
}
#u13714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u13715 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:41px;
  width:83px;
  height:39px;
  display:flex;
}
#u13715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u13716 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:41px;
  width:83px;
  height:39px;
  display:flex;
}
#u13716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u13717 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:41px;
  width:82px;
  height:39px;
  display:flex;
}
#u13717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u13718 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:41px;
  width:82px;
  height:39px;
  display:flex;
}
#u13718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u13719 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:41px;
  width:82px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u13720 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:41px;
  width:100px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u13721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:78px;
  height:47px;
  display:flex;
}
#u13721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u13722 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:80px;
  width:82px;
  height:47px;
  display:flex;
}
#u13722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:47px;
}
#u13723 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:80px;
  width:80px;
  height:47px;
  display:flex;
}
#u13723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:47px;
}
#u13724 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:80px;
  width:80px;
  height:47px;
  display:flex;
}
#u13724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:47px;
}
#u13725 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:80px;
  width:80px;
  height:47px;
  display:flex;
}
#u13725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u13726 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:80px;
  width:82px;
  height:47px;
  display:flex;
}
#u13726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u13727 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:80px;
  width:78px;
  height:47px;
  display:flex;
}
#u13727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:47px;
}
#u13728 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:80px;
  width:80px;
  height:47px;
  display:flex;
}
#u13728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:47px;
}
#u13729 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:80px;
  width:80px;
  height:47px;
  display:flex;
}
#u13729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u13730 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:100px;
  height:47px;
  display:flex;
}
#u13730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:47px;
}
#u13731 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:80px;
  width:80px;
  height:47px;
  display:flex;
}
#u13731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u13732 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:80px;
  width:82px;
  height:47px;
  display:flex;
}
#u13732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u13733 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:80px;
  width:82px;
  height:47px;
  display:flex;
}
#u13733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u13734 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:80px;
  width:82px;
  height:47px;
  display:flex;
}
#u13734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:47px;
}
#u13735 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:80px;
  width:83px;
  height:47px;
  display:flex;
}
#u13735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:47px;
}
#u13736 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:80px;
  width:83px;
  height:47px;
  display:flex;
}
#u13736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:47px;
}
#u13737 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:80px;
  width:83px;
  height:47px;
  display:flex;
}
#u13737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u13738 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:80px;
  width:82px;
  height:47px;
  display:flex;
}
#u13738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u13739 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:80px;
  width:82px;
  height:47px;
  display:flex;
}
#u13739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u13740 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:80px;
  width:82px;
  height:47px;
  display:flex;
}
#u13740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u13741 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:80px;
  width:100px;
  height:47px;
  display:flex;
}
#u13741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13742 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:24px;
  width:140px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13743 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:224px;
  width:252px;
  height:96px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13743 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13743_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
