body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1054px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u59661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:344px;
}
#u59662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
}
#u59662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u59662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u59663 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:153px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u59663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:35px;
}
#u59664 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:209px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u59664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:35px;
}
#u59665 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:0px;
  width:256px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u59665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u59666 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:0px;
  width:181px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u59666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u59667 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:152px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u59667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u59668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:87px;
  height:38px;
  display:flex;
}
#u59668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u59669 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:35px;
  width:153px;
  height:38px;
  display:flex;
}
#u59669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u59670 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:35px;
  width:209px;
  height:38px;
  display:flex;
}
#u59670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u59671 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:35px;
  width:256px;
  height:38px;
  display:flex;
}
#u59671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u59672 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:35px;
  width:181px;
  height:38px;
  display:flex;
}
#u59672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u59673 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:35px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u59673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u59674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:87px;
  height:40px;
  display:flex;
}
#u59674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u59675 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:73px;
  width:153px;
  height:40px;
  display:flex;
}
#u59675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u59676 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:73px;
  width:209px;
  height:40px;
  display:flex;
}
#u59676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u59677 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:73px;
  width:256px;
  height:40px;
  display:flex;
}
#u59677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u59678 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:73px;
  width:181px;
  height:40px;
  display:flex;
}
#u59678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u59679 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:73px;
  width:152px;
  height:40px;
  display:flex;
  color:#5CC870;
}
#u59679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:39px;
}
#u59680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:87px;
  height:39px;
  display:flex;
}
#u59680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:39px;
}
#u59681 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:113px;
  width:153px;
  height:39px;
  display:flex;
}
#u59681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:39px;
}
#u59682 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:113px;
  width:209px;
  height:39px;
  display:flex;
}
#u59682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:39px;
}
#u59683 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:113px;
  width:256px;
  height:39px;
  display:flex;
}
#u59683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:39px;
}
#u59684 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:113px;
  width:181px;
  height:39px;
  display:flex;
}
#u59684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:39px;
}
#u59685 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:113px;
  width:152px;
  height:39px;
  display:flex;
  color:#5CC870;
}
#u59685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u59686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:87px;
  height:40px;
  display:flex;
}
#u59686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u59687 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:152px;
  width:153px;
  height:40px;
  display:flex;
}
#u59687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u59688 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:152px;
  width:209px;
  height:40px;
  display:flex;
}
#u59688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u59689 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:152px;
  width:256px;
  height:40px;
  display:flex;
}
#u59689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u59690 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:152px;
  width:181px;
  height:40px;
  display:flex;
}
#u59690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u59691 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:152px;
  width:152px;
  height:40px;
  display:flex;
  color:#5CC870;
}
#u59691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u59692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:87px;
  height:38px;
  display:flex;
}
#u59692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u59693 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:192px;
  width:153px;
  height:38px;
  display:flex;
}
#u59693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u59694 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:192px;
  width:209px;
  height:38px;
  display:flex;
}
#u59694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u59695 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:192px;
  width:256px;
  height:38px;
  display:flex;
}
#u59695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u59696 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:192px;
  width:181px;
  height:38px;
  display:flex;
}
#u59696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u59697 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:192px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u59697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u59698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:87px;
  height:38px;
  display:flex;
}
#u59698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u59699 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:230px;
  width:153px;
  height:38px;
  display:flex;
}
#u59699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u59700 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:230px;
  width:209px;
  height:38px;
  display:flex;
}
#u59700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u59701 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:230px;
  width:256px;
  height:38px;
  display:flex;
}
#u59701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u59702 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:230px;
  width:181px;
  height:38px;
  display:flex;
}
#u59702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u59703 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:230px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u59703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u59704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:87px;
  height:38px;
  display:flex;
}
#u59704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u59705 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:268px;
  width:153px;
  height:38px;
  display:flex;
}
#u59705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u59706 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:268px;
  width:209px;
  height:38px;
  display:flex;
}
#u59706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u59707 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:268px;
  width:256px;
  height:38px;
  display:flex;
}
#u59707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u59708 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:268px;
  width:181px;
  height:38px;
  display:flex;
}
#u59708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u59709 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:268px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u59709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u59710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:87px;
  height:38px;
  display:flex;
}
#u59710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u59711 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:306px;
  width:153px;
  height:38px;
  display:flex;
}
#u59711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u59712 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:306px;
  width:209px;
  height:38px;
  display:flex;
}
#u59712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u59713 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:306px;
  width:256px;
  height:38px;
  display:flex;
}
#u59713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u59714 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:306px;
  width:181px;
  height:38px;
  display:flex;
}
#u59714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u59715 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:306px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u59715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
