body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3804 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:754px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u3804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3805 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:804px;
  width:0px;
  height:0px;
}
#u3805_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:561px;
  height:10px;
}
#u3805_text {
  border-width:0px;
  position:absolute;
  left:228px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3806 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:754px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u3806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u3807 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:113px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u3807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3808 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:497px;
  width:0px;
  height:0px;
}
#u3808_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:262px;
}
#u3808_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:120px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
}
#u3809 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:591px;
  width:134px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3810 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:730px;
  width:8px;
  height:16px;
  display:flex;
}
#u3810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3810_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3811 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:113px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u3811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3812 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:113px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u3812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3813 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:163px;
  width:0px;
  height:0px;
}
#u3813_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:251px;
  height:10px;
}
#u3813_text {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3814 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:163px;
  width:0px;
  height:0px;
}
#u3814_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:268px;
  height:10px;
}
#u3814_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3815 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:176px;
  width:8px;
  height:16px;
  display:flex;
}
#u3815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3816 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:176px;
  width:8px;
  height:16px;
  display:flex;
}
#u3816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u3817 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:176px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3818 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:136px;
  width:8px;
  height:16px;
  display:flex;
}
#u3818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3819 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:136px;
  width:8px;
  height:16px;
  display:flex;
}
#u3819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u3820 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:85px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u3821 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:397px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u3821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3822 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:397px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u3822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3823 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:397px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u3823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3824 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:447px;
  width:0px;
  height:0px;
}
#u3824_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:268px;
  height:10px;
}
#u3824_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3825 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:420px;
  width:8px;
  height:16px;
  display:flex;
}
#u3825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3826 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:420px;
  width:8px;
  height:16px;
  display:flex;
}
#u3826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u3827 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:369px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3828 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:424px;
  width:8px;
  height:16px;
  display:flex;
}
#u3828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3829 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:424px;
  width:8px;
  height:16px;
  display:flex;
}
#u3829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u3830 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:373px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
}
#u3831 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:176px;
  width:134px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3832 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:510px;
  width:8px;
  height:16px;
  display:flex;
}
#u3832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3833 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:510px;
  width:8px;
  height:16px;
  display:flex;
}
#u3833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:67px;
}
#u3834 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:591px;
  width:309px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3835 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:726px;
  width:8px;
  height:16px;
  display:flex;
}
#u3835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:67px;
}
#u3836 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:824px;
  width:149px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3837 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:820px;
  width:8px;
  height:16px;
  display:flex;
}
#u3837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3838 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:820px;
  width:8px;
  height:16px;
  display:flex;
}
#u3838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3839 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:327px;
  height:32px;
  display:flex;
  font-size:28px;
}
#u3839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3840 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:893px;
  width:32px;
  height:32px;
  display:flex;
}
#u3840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3841 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:497px;
  width:0px;
  height:0px;
}
#u3841_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:262px;
}
#u3841_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:244px;
  width:18px;
  height:19px;
}
#u3841_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:120px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u3842 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:397px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u3842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3843 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:447px;
  width:0px;
  height:0px;
}
#u3843_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:198px;
  height:10px;
}
#u3843_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3844 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:447px;
  width:0px;
  height:0px;
}
#u3844_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:218px;
  height:10px;
}
#u3844_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3845 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:420px;
  width:8px;
  height:16px;
  display:flex;
}
#u3845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3846 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:420px;
  width:8px;
  height:16px;
  display:flex;
}
#u3846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:369px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3848 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:754px;
  width:0px;
  height:0px;
}
#u3848_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-165px;
  width:10px;
  height:165px;
}
#u3848_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-165px;
  width:373px;
  height:10px;
}
#u3848_seg2 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:-257px;
  width:10px;
  height:102px;
}
#u3848_text {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-168px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:519px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:560px;
  width:8px;
  height:16px;
  display:flex;
}
#u3850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:565px;
  width:8px;
  height:16px;
  display:flex;
}
#u3851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
