body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:628px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u17415 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:256px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u17415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17416 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:103px;
  width:561px;
  height:151px;
}
#u17417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u17417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:40px;
}
#u17418 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:461px;
  height:40px;
  display:flex;
}
#u17418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:71px;
}
#u17419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:71px;
}
#u17420 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:461px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u17420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u17421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:40px;
}
#u17422 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:111px;
  width:461px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u17422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17423 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:297px;
  width:596px;
  height:32px;
  display:flex;
}
#u17423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17423_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
